
.Map{
  width: 100%;   
  height: 100vh;   
  display: flex;
  justify-content: center;
  align-items: center;
           
        .divMap{
            width: 95%;
            height: 95%;
            position: relative;         
            overflow: hidden;            
            border-radius: 20px; 
            
            
            .loadingContainer {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              height: 200px;
            }
            
            .spinner {
              width: 40px;
              height: 40px;
              border: 4px solid rgba(0, 0, 0, 0.2);
              border-top-color: #3498db;
              border-radius: 50%;
              animation: spin 1s linear infinite;
            }
            
            @keyframes spin {
              to { transform: rotate(360deg); }
            }
            
             
            .MapTitle{    
              height: 8%;
              width: 100%;
              background-color: #ee4f11;  
              display: flex;
              justify-content: center;
              align-items: center;
              .MapTitleItem{           
                text-align: center;
                color: #fff;
                font-size: 30px;
                font-weight: 600;             
              }
            }

            .leaflet-container {  
              //position: fixed;
            
              height: 92%;     
              width: 100%; 
            .leaflet-popup-content{
                    
                  width: 100%;  
                   .div-popup{
                      margin-left: 0px;
                      margin-right: 0px;
                      text-align: center;
                    .infor{
                      .inforItem{                                   
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .title{
                            font-size: 15px;
                            font-weight: 700;
                        }
                        .value{
                          font-size: 15px;
                           
                        }
                      }
                      .ItemButton{
                        justify-content: center;
                      }
                      .inforItemBlueTooth{
                        
                        position: relative;
                        .btnBluetoothOn{
                          position: absolute;
                          left: 80%;
                          top: 0%;
                          width: 20%;
                          height: 100%;
                          font-size: 12px;
                          color: aliceblue;
                          
                          background-color: green;
                          border-radius: 5px;
                        }
                        .btnBluetoothOff{
                          position: absolute;
                          left: 80%;
                          top: 0%;
                          width: 20%;
                          height: 100%;
                          font-size: 12px;
                          color: aliceblue;
                          
                          background-color: red;
                          border-radius: 5px;
                        }
                      }
                    }   
                   
                  
                 }
            }
          }

 
            @media (max-width: 768px) {
              width: 100%;
              height: 100%;         
              position: relative; 
              border-radius: 0px; 
             
                .MapTitle{   

                    height: 10%;    
                    width: 46%; 
                    position: fixed;             
                    top: 0px;       
                    right: 25%; 
                    background-color: transparent;  
                    
                    z-index: 5000;       
                    display: flex;   
                    justify-content: center;
                    align-items: center;   
                    .MapTitleItem{           
                      text-align: center;
                      color: #000000;
                      font-size: 20px;
                      font-weight: 600;                                       
                    }
                }
                .leaflet-container {
                  height: 90%;
                  width: 100%; 
                  
              }
                 
                 

            }
        }

        
}
