
.PositionDevice{
    width: 100%;
    height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapPositionDevice{
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border-radius: 20px;
            .SettingTitle{
                height: 8%;
                width: 100%;
                background-color: #ee4f11;  
                display: flex;
                justify-content: center;
                align-items: center;
                .SettingTitleItem{
                  text-align: center;
                  color: #fff;
                  font-size: 30px;
                  font-weight: 600;          
                }

                @media (max-width: 768px) {
                    height: 10%;      
                    width: 50%;   
                    position: fixed;             
                    top: 0px;       
                    right: 25%; 
                    background-color: transparent;  
                    z-index: 5000;       
                    display: flex;   
                    justify-content: center;
                    align-items: center;   
                    .SettingTitleItem{             
                      text-align: center;
                      color: #000000;
                      font-size: 22px;
                      font-weight: 600;                                       
                    }
                }

    
            }
            .filter{                
                width: 100%;
                height: 10%;
                margin-top: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                border-radius: 15px;
                background-color: #fff;
                box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
                .filterItem{
                    
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;   
                   
                    .filterItemdiv{
                        
                        width: 30%;  
                        
                        a{    
                        text-decoration: none;
                        color: black;
                       
                        .itemDeviceSecondItem{  
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        background-color: aliceblue;
                        border: 0.3px solid rgb(0, 0, 0);
                        border-radius: 15px;
                        width: 100%;   
                        height: 50px;
                        font-size: 20px;
                        font-weight: 600;
                        &:hover{     
                            cursor: pointer;
                            background-color: #e1e1e1;
    
                        }
                        .itemDeviceSecondItemIcon{
                            font-size: 30px;
                            color: red;
                        }
                    }
                    }
                    }   
                   
                    
                }

                @media (max-width: 768px) {
                        display: flex;
                        flex-direction: column;
                        width: 100%; 
                        height: 10%;                
                        border-radius: 0px;  
                        
                        margin-top: 0px;   
                        .filterItem{
                            font-weight: 600;
                            z-index: 3000;
                            height: 25%;  
                            padding-left: 5px;
                            padding-right: 5px;
                            display: flex;
                            justify-content: space-between;    
                            .filterItemdiv{
                                width: 48%; 
                            }
                            
                        }
                        // .filterItemStart{
                        //     z-index: 4000;
                        //     display: flex;
                        //     justify-content: space-around;
                        // }   
                        // .filterItemEnd{
                        //     z-index: 3999;
                        //     display: flex;
                        //     justify-content: space-around;
                        // }
                        // .filterItemSelectLogger{
                        //    width: 50%;    
                        //    select{
                        //     height: 100%;
                        //    }             
                        // }
                        // .filterItemButton{
                        //     display: flex;
                        //     justify-content: space-around;
                        //     button{
                        //         width: 30%;
                        //         height: 100%;
                        //     }
                        // }
                    
                }
                
               
               
            }
            .mapStolenLine{
                height: 100%;   
                width: 100%;   
                overflow: hidden;
                border-radius: 20px;

                .leaflet-container {
                    height: 100%;  
                    width: 100%;        
                }

                @media (max-width: 768px) {
                    border-radius: 0px; 
                    background-color: aqua;  
                }

            }

            @media (max-width: 768px) {
                border-radius: 0px; 
                background-color: aqua;  
                width: 100%;
                height: 100%;
            }

    }  
    @media (max-width: 768px) {
        margin-top: 0px; 
        width: 100%;
        height: 100%; 
        background-color: red;

       

    }
   
}